# Easy

In [4]:
first = float(input('Enter First Number: '))
second = float(input('Enter second Number: '))

print(first, '+', second, '=', first + second)
print(first, '-', second, '=', first - second)
print(first, '*', second, '=', first * second)
print(first, '/', second, '=', first / second)

6.0 + 4.0 = 10.0
6.0 - 4.0 = 2.0
6.0 * 4.0 = 24.0
6.0 / 4.0 = 1.5

In [5]:
first_name = input('Enter the first student\'s name: ')
first_id = input('Enter the first student\'s ID: ')
first_grade = float(input('Enter the first student\'s grade: '))

second_name = input('Enter the second student\'s name: ')
second_id = input('Enter the second student\'s ID: ')
second_grade = float(input('Enter the second student\'s grade: '))

print('information for students and their "Math" grades')
print(f'{first_name}(ID {first_id}) got grade:', first_grade)
print(f'{second_name}(ID {second_id}) got grade:', second_grade)
print('Average math grade is', (second_grade + first_grade)/ 2)

information for students and their "Math" grades
mostafa(ID 124) got grade: 20.0
belal(ID 455) got grade: 31.0
Average math grade is 25.5

In [7]:
odd1, even1, odd2, even2, odd3, even3, odd4, even4 = map(int, input().split())

odd_sum = odd1 + odd2 + odd3 + odd4
even_sum = even1 + even2 + even3 + even4

print(even_sum, odd_sum)

2 33

In [2]:
a = input()
b = input()
c = input()

concat_str = a + '\'' + b + '"' + c

print(concat_str * 10)

i'am"Mostafai'am"Mostafai'am"Mostafai'am"Mostafai'am"Mostafai'am"Mostafai'am"Mostafai'am"Mostafai'am"Mostafai'am"Mostafa

# Medium

In [ ]:
a = 1
b = 2

c = a + b
a = b
b = c

print(c)

c = a + b
a = b
b = c

print(c)

c = a + b
a = b
b = c

print(c)

c = a + b
a = b
b = c

print(c)

c = a + b
a = b
b = c

print(c)

c = a + b
a = b
b = c

print(c)

3
5
8
13
21
34

In [ ]:
a, b = map(int, input().split())

b, a = a, b

print(a, b)

2 1

# Hard

In [3]:
a, b, c = map(int, input().split())

a, b, c = b, c, a

print(a, b, c)

20 301 115

In [8]:
n = int(input())

sum = (n * (n + 1)) / 2

print(sum)

10.0